@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
:root{
  font-family: "Prompt", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}
h1 {
  line-height: 1.2;
  font-size: 2.5rem;
  letter-spacing: 4px;
  font-weight: 600;
}
h2{
  letter-spacing: 1.5px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 640px) {
  h2{
    font-weight: 400;
  }
}
h3{
  letter-spacing: 1.5px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
h6 {
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.color{
  color: rgb(239, 194, 179);
}
.dark-color {
  color: #1a2456 !important;
}
.nav-item {
  letter-spacing: 2px;
}
.nav-item:hover {
  color: #ff7952;
}

.cardText {
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.btn{
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.5;
  padding: .375rem 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dark-gray {
  background-color: rgb(196, 196, 196);
}

footer li {
  margin-bottom: 0.4em;
  font-size: 0.9rem;
  font-weight: 300;
    line-height: 1.5;
}
footer header {
  font-size: .8em;
  font-weight: 600;
  letter-spacing: 1px;
  min-width: 6em;
}
address{
  font-style: normal;
}

.submit{
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.5;
  padding: .375rem 1.75rem;
}
.socials{
  margin-bottom: .4em;
  font-size: .9rem;
}
footer svg {
  height: 1em;
  width: 1em; 
}
.socials li {
  display: flex;
  place-content: center;
  align-items: center;
  background-color: #efc2b3;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}
.socials a {
  padding: 4px;
}
#workflow {
  box-shadow: 0 1em 2.5em rgba(0, 0, 0, .333);
  font-size: 1rem;
  font-weight: 400;
  min-width: 10rem;
  /* padding: .5rem 0; */
}
#workflow li {
  /* padding: 7px 0px; */
  letter-spacing: 2px;
}
#workflow li {
  color: #212529;
  padding: .25rem 1.5rem;
  white-space: nowrap;
}
#workflow li:hover {
  background-color: rgb(196, 196, 196);
}
#mobileNav li {
  padding: 14px 0;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.aspect-ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-list-disc li {
  position: relative;
  padding-left: 1em;
}
.custom-list-disc li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
  width: 0.5em;
  height: 0.5em;
  border: 1px solid currentColor;
  border-radius: 50%;
  background-color: white;
}

.image-wrapper {
  position: relative;
  width: 100%;

  /* height: 100%; */
  padding-top: 100%; /* 1:1 aspect ratio */
  overflow: hidden;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  /* aspect-ratio: auto 1 / 1; */
}

.white-bg {
  background-color: hsla(0, 0%, 100%, .8);
}

.alert {
  border: 1px solid transparent;
  border-radius: 0;
  margin-bottom: 1rem;
  padding: .75rem 1.25rem;
  position: relative;
}
.alert-success {
  background-color: #dee5e3;
  border-color: #d1dbd7;
  color: #2f423b;
}
.alert-error {
  background-color: #ad421b;
  border-color: #d1dbd7;
  color: #e6ecea;
}

/* .spinner {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><radialGradient id="a10" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)"><stop offset="0" stop-color="%23FFFFFF"></stop><stop offset=".3" stop-color="%23FFFFFF" stop-opacity=".9"></stop><stop offset=".6" stop-color="%23FFFFFF" stop-opacity=".6"></stop><stop offset=".8" stop-color="%23FFFFFF" stop-opacity=".3"></stop><stop offset="1" stop-color="%23FFFFFF" stop-opacity="0"></stop></radialGradient><circle transform-origin="center" fill="none" stroke="url(%23a10)" stroke-width="15" stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70"><animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="2" values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform></circle><circle transform-origin="center" fill="none" opacity=".2" stroke="%23FFFFFF" stroke-width="15" stroke-linecap="round" cx="100" cy="100" r="70"></circle></svg>')
} */